body {
	background-color: #000;
	background-image:  url(Creole_Images/paper-815119_960_720.jpg); 
	
	color: #fff;
    font-family: Arial;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
    background-color: #3f5478;
    padding-top:  10px;
}

header h1 {
	text-align: center;
	margin-left: 10px;
}
header h2 {
	text-align: center;
	margin-left: 10px;
}

nav {
	background-color: #ccc;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul li{
    display: inline-block;	
    margin: 0 5px;
    font-size: 20px;
}

li a:link, li a:active, li a:hover, li a:visited {
	text-decoration: none;
	color: #000;
}
li a:hover {text-decoration: underline;
	font-weight: bold;
}

main {
	background-color: #7f8ba5;

}

section {
	width: 60%;
	padding: 10px;
	display: inline-block;
	background-color: #bbc1bd;
}
aside {
    width: 35%;
    padding: 10px; 
    float: right;
    background-color: #000;

}
.clear{
	clear: both;
}

footer {
 	text-align: center;
 	background-color: #a1a0a4;
 	padding: 10px;
 }